<app-menu-title></app-menu-title>
<div class="artigo-container">
  <div class="artigo-principal">
    <app-big-card id="{{listaConteudo[0].id}}" imagem="{{listaConteudo[0].imagemCapa}}" cardTitulo="{{listaConteudo[0].titulo}}" cardDescricao="{{listaConteudo[0].descricao}}"></app-big-card>
  </div>
  <div class="artigo-outros">
    <div *ngFor="let p of listaConteudo; index as i">
      <app-small-card  *ngIf="i != 0" [id]= p.id [imagem]=p.imagemCapa [cardTitulo]=p.titulo></app-small-card>
    </div>
</div>
